html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    font-family: verdana, sans-serif;
}

body {
    box-sizing: border-box;
    border-width: 1em;
    border-style: solid;

    > * {
        position: absolute;
    }
}

.channel-icon {
    top: 2em;
    right: 2em;
    width: 30vh;
}

.channel-sub-icon {
    top: 40vh;
    right: 2em;
}

.logo {
    left: 2em;
    bottom: 2em;
    width: 50vh;
}

.sublogo {
    bottom: 12vh;
    left: 25vw;
    width: 15vw;
}

.title {
    left: 5vw;
    top: 2em;

    span {
        font-size: 24vh;
        font-weight: bold;
    }
}

.subtitle {
    left: 20vw;
    top: 37.5vh;
    right: 2em;

    span {
        font-size: 12.5vh;
        display: inline-block;
        text-align: center;
    }
}

.episode {
    bottom: 2em;
    right: 2em;

    span {
        font-size: 20vh;
    }
}

.dark {
    background: #000;
    color: #ddd;
}

.light {
    background: #eee;
    color: #333;
}

.banner {
    background: #2d0922;
    color: #fff;
}

.panel {
    background: #2d0922;
    color: #fff;
    border: 0;

    > img {
        left: 12px;
        top: 16px;
        height: 64px;
    }

    > div {
        left: 80px;
        font-size: 24px;
        top: 36px;
    }
}

.aoc {
    border-color: #0c0;

    .subtitle {
        left: 30vw;
        top: 40vh;

        span {
            font-size: 10vh;
        }
    }

    .title span {
        font-size: 16vh;
        color: #0c0;
        text-shadow: 0 0 2px #0c0, 0 0 10px #0c0;
    }
}

.center {
    text-align: center;
    width: 100%;
}

.social {
    display: inline-block;
    font-size: 4vh;

    td {
        vertical-align: middle;
    }

    .spacer {
        padding: 0 4vh;
    }
}

.offline {
    font-family: 'Ubuntu Mono';
    font-size: 12vh;
    right: 8vh;
    top: 8vh;

    span {
        background-color: #c00;
        padding: 1vh 1vh 0;
    }
}
